@import 'tailwindcss';

@layer base {
  body {
    @apply bg-gray-100;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .container-center {
    @apply flex flex-col justify-center items-center gap-4 min-h-screen;
  }
}
